body > img{
  position: absolute;

  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

main{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline: 36px;

  & header{
    margin-block: 76px 89px;
  }

  & .container{
    display: flex;
    justify-content: space-between;
    gap: 108px;
  }
}
