label{
  font: var(--label-small);
  text-transform: uppercase ;
}

label:hover{
  color: var(--background-brand);
}

input{
  background-color: var(--background-secondary);
  border-radius: 0.5rem;
  font: var(--display-small);

  width: 88px;
  height: auto;

  display: flex;
  text-align: center;
}

input[type="number"] {
  -webkit-appearance: none; /* Chrome, Safari e outros WebKit */
  -moz-appearance: textfield; /* Firefox */
  appearance: none; /* Compatibilidade geral */
}

/* Remover os botões internos das setas para navegadores WebKit */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Remove margem extra */
}

button{
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 100%;

  background-color: var(--background-tertiary);
  border: 1px solid var(--background-tertiary);
  border-radius: 0.5rem;
  padding-block: 1rem;

  font: var(--label-small);
  text-transform: uppercase;
}

button:hover{
  background-color: var(--background-secondary);
  border: none;
}

small{
  font: var(--paragraph-small);
  color: var(--content-primary);
}

span{
  font: var(--paragraph-medium);
  color: var(--content-brand);
}

.overline{
  font: var(--overline);
  text-transform: uppercase;
  color: var(--gradient-content);
}